{{> head }}

{{> navbar }}

    <div class="row">
        <di class="col-8">
            <h1>Curso de Node.js</h1>
        </di>
        <di class="col-4">
          <img src="assets/img/node-js.png" width="50%" alt="img-thumbnail" >
        </di>
    </div>

{{> footer}}